<div class="alert alert-success"><a href='#' class='close' data-dismiss='alert' aria-label='close' >&times;</a> Cancelled Todos</div>   

<form action="/admin/todo/multiaction" method="post" id="del_form">

<div class="form-group multi_action col-md-4">
  <div class="row">
    <div class="col-md-6">
        <select name="action" id="" class="form-control">
          <option value="delete">Delete Todos</option>
          <option value="retrieve">Retrieve Todos</option>
      </select>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success multi_action"><i class="fa fa-thumbs-up"></i> Perform Operation</button>
    </div>
  </div>
  
</div>


<table class="table table-striped table-responsive">
    <thead>
       <tr>
        <th><input type="checkbox"  id="checkbox"></th>
           <th>Subject</th>
           <th>Capture</th>
           <th>Note</th>
           <th>Actions</th>
       </tr>
    </thead>

    <tbody>
     {{#if todos}}
      
        {{#each todos}}
                <tr>
                     <td><input type="checkbox" name="checkboxes[]"  value="{{id}}" class="checkboxes"></td>
</form>
                    <td>{{subject}}</td>
                     {{#if file}}
                        <td><img src="/uploads/{{file}}" class="img-circle" alt="" width="40"></td>
                        {{else}}
                        <td><img src="/uploads/image-place.png" alt="" width="40"></td>
                    {{/if}}
                    <td>{{note}}</td>
                    <td><a href="/admin/todos/edit/{{id}}" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="/admin/todos/delete/{{id}}" class="btn btn-danger"><i class="fa fa-remove"></i></a></td>
                </tr>
        {{/each}}

      {{else}}
        <div class="alert alert-danger"> <a href='#' class='close' data-dismiss='alert' aria-label='close' >&times;</a>No Todos to display</div>

     {{/if}}      
    </tbody>
</table>




<style>
  .multi_action{
    display: none;
  }
</style>


