
<form action="/admin/users/update/{{user.id}}?_method=PUT" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Fullname</label>
            <input type="text" class="form-control" value="{{user.name}}"  name="fullname" required autofocus> 
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Email</label>
            <input type="text" class="form-control" value="{{user.email}}" name="email" required > 
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Phone</label>
            <input type="text" class="form-control" value="{{user.phone}}" name="phone" required > 
        </div>

    </div>


     <div class="row">
        <div class="col-md-4">
            <label for="" class="control-label">Role</label>
            {{#ifeq loggedUser.role 'Admin'}}
            <select name="role" class="form-control" id="" required>
                {{#select user.role}}
                    <option value="Subscriber">Subscriber</option>
                    <option value="Admin">Admin</option>
                {{/select}}
            </select>
           {{/ifeq}}

           {{#ifeq loggedUser.role 'Subscriber'}} 
                <input type="text" class="form-control" name="role" value="{{user.role}}" readonly id="">
           {{/ifeq}}
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Status</label>
             {{#ifeq loggedUser.role 'Admin'}}
            <select name="status" class="form-control" id="" required>
                {{#select user.status}}
                    <option value="Active">Active</option>
                    <option value="Unactive">Unactive</option>
                {{/select}}
            </select>
           {{/ifeq}}

           {{#ifeq loggedUser.role 'Subscriber'}} 
                <input type="text" class="form-control" name="status" value="{{user.status}}" readonly id="">
           {{/ifeq}}
        </div>

         <div class="col-md-4">
            <label for="" class="control-label">Imagery</label>
           <input type="file" accept="image/*" name="file" id="inpFile" class="form-control" style="display: none;"><br>
            <button type="button" id="upload-btn" class="btn btn-success">Upload <i class="fa fa-file fa-2x"></i></button>
        </div>
    </div>

      <div class="row">
            <div class="col-md-6">
                <label for="" class="control-label">Password</label>
                <input type="password" name="password" placeholder="********" class="form-control" id="">
            </div>
            

            <div class="col-md-6">
                <div class="image-preview pull-right" id="imagePreview">
                {{#if user.file}} 
                        <img width="100" class="img-circle image-preview__image" src="/uploads/{{user.file}}" alt=""> 
                    {{else}}
                        <img width="100" class="img-circle image-preview__image" src="/uploads/default.png" alt=""> 
                {{/if}} 
                    <span class="image-preview__default-text"> </span>
                </div>
            </div>

         </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit Edit <i class="fa fa-user fa-2x"></i></button>
    </div>
</form>





